body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.platform-navigation a {
	display: block;
	padding: .82rem 0 .656rem 0;
	font-size: 1.64rem;
	line-height: 110%;
}

.page-footer {
	padding-top: 0;
}
.page-footer .row {
	margin-bottom: 0;
	display: flex;
}

nav ul li a {
	color: black;
}

body, .nav-wrapper, .card, a, img {
	-moz-transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.pointer {
	cursor: pointer;
}

.darkImg {
	opacity:0.6;
    filter:alpha(opacity=60);
}